<div class="row">
  <div class="col-xs-4 text-center pointer" (click)="prevPage()" [class.disabled]="!canPrevPage()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>
        Newer
      </span>
  </div>
  <div class="col-xs-4 text-center">
    <span>{{startingindex}}-{{endingIndex}}</span> <span *ngIf="totalItems !== undefined">din {{totalItems}}</span>
  </div>
  <div class="col-xs-4 text-center pointer" [class.disabled]="!canNextPage()" (click)="nextPage()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <span>
        Older
      </span>
  </div>
</div>
