<div *ngIf="answerState?.selectedError">
  <app-error-indicator (retry)="retry()">
  </app-error-indicator>
</div>
<div *ngIf="!answerState?.selectedError">
  <div *ngIf="answerState?.selectedLoading">
    <app-loading-indicator></app-loading-indicator>
  </div>
  <div *ngIf="!answerState?.selectedLoading">
    <div *ngIf="formState?.items && answerState?.selectedAnswer?.length">
      <tabset>
        <tab *ngFor="let form of formState.items">
          <template tabHeading>Formular {{form.idFormular}}</template>
          <app-answer-form-list [form]="form" [completedQuestions]="formAnswers(form.idFormular)">
          </app-answer-form-list>
        </tab>
      </tabset>
    </div>
    <div *ngIf="!(formState?.items && answerState?.selectedAnswer?.length)">
      Nu ati selectat nimic
    </div>
  </div>
</div>