<div class="question-row">
  <div *ngIf="editMode" class="question-delete" (click)="onDeleteQuestion()">
    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
  </div>
  <div class="question-body">
    <div class="question-definition">
      <app-inline-edit-input *ngIf="editMode" [(ngModel)]="question.text" (change)="onTextChange()" viewClassNames="h4"></app-inline-edit-input>
      <h4 *ngIf="!editMode">{{question.text}}</h4>
      <p *ngFor="let option of question.options"><i class="fa fa-square-o fa-lg" aria-hidden="true"></i> {{option.text}}</p>
    </div>
    <div class="question-side-options">
      <select [disabled]="!editMode" [(ngModel)]="question.typeId" (change)="onTypeChange()">
        <option *ngFor="let type of questionTypes" [ngValue]="type.id" >{{type.text}}</option>
      </select>
      <div>
        <p><i class="fa fa-square-o fa-lg" aria-hidden="true"></i> Red flag</p>
      </div>
    </div>
  </div>
</div>
