<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../assets/vote_monitor.png" class="brand-logo" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/urgents']" routerLinkActive="active">
            {{'EMERGENCIES' | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]="['/answers']" routerLinkActive="active">
            {{'ANSWERS' | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]="['/statistics']" routerLinkActive="active">
            {{'STATISTICS' | translate}}
          </a>
        </li>
         <li>
          <a [routerLink]="['/observatori']" routerLinkActive="active">
            {{'OBSERVERS' | translate}}
          </a>
        </li>
        <li>
          <a [href]="observerGuideUrl" target="_blank">
            {{'OBSERVER_GUIDE' | translate}}
          </a>
        </li>
        <li>
            <a [routerLink]="['/notifications']" routerLinkActive="active">
              {{'NOTIFICATIONS' | translate}}
            </a>
          </li>
        <li>
          <a [routerLink]="['/forms']" routerLinkActive="active">
            {{'FORMS' | translate}}
          </a>
        </li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
      <!--<li><a href="#">Link</a></li>-->
      <!--</ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
