ul {
    margin-top:25px;
    list-style: none;
    display:inline-block;
    li {
        float:left;
        margin-left:35px;
        font-size:26px;

        a{
            &hover{
                text-decoration: none;
            }
            &.active{
                text-decoration: underline;
                -moz-text-decoration-color: yellow;
            }
        }     
    }
}

