<h3 *ngIf="item.header" style="margin-bottom:0">
  {{item.header}}
</h3>
<h5 *ngIf="item.subHeader" style="margin-top:0">
  {{item.subHeader}}
</h5>

<div *ngIf="item.error">
  Error
</div>
<div *ngIf="!item.error">
  <div *ngIf="item.loading">
    Loading
  </div>
  <div *ngIf="!item.loading">
    <div *ngFor="let labelValue of itemValues;let i = index" class="frow row-start" style="margin-top:10px">
      <app-statistics-value class="col-md-1-1" [index]="i+1" [label]="labelValue.label" [value]="labelValue.value">
      </app-statistics-value>
    </div>

    <div class="frow row-start" [routerLink]="['/statistici',item.key]">
      <strong class="col-md-1-2 frow row-center">
        <p>Vezi topul complet</p>
    </strong>
    </div>
  </div>


</div>