<h3 *ngIf="item.header" style="margin-bottom:0">
  {{item.header}}
</h3>
<h5 *ngIf="item.subHeader" style="margin-top:0">
  {{item.subHeader}}
</h5>

<div *ngIf="item.error">
  Error
</div>
<div *ngIf="!item.error">
  <div *ngIf="item.loading">
    Loading
  </div>
  <div *ngIf="!item.loading">
    <div *ngFor="let labelValue of item.values;let i = index" class="frow" style="margin-top:10px">
      <p style="font-size:24px" class="col-md-1-3">
        {{i}}
      </p>
      <p class="col-md-1-3">
        <strong>
        {{labelValue.label}}
        </strong>
      </p>
      <p class="col-md-1-3">
        {{labelValue.value}}
      </p>
    </div>

    <div class="frow" [routerLink]="['/statistici',item.key]">
      Vezi topul complet
    </div>
  </div>


</div>