<div class="container-fluid">
  <form
    (ngSubmit)="requestFilteredData()"
    name="filtreazaDupa"
    class="form-row mb-4"
  >
    <div class="col-auto form-group">
      <label for="countyCode">{{ "COUNTY_CODE" | translate }}</label>
      <input
        [(ngModel)]="countyCode"
        name="countyCode"
        class="form-control"
        id="countyCode"
      />
    </div>
    <div class="col-auto form-group">
      <label for="pollingStationNumber">{{
        "POLLING_STATION_NUMBER" | translate
      }}</label>
      <input
        [(ngModel)]="pollingStationNumber"
        name="pollingStationNumber"
        class="form-control"
        id="pollingStationNumber"
      />
    </div>
    <div class="col-auto form-group">
      <label for="observerId">{{ "OBSERVER_ID" | translate }}</label>
      <input
        [(ngModel)]="observerId"
        name="observerId"
        class="form-control"
        id="observerId"
      />
    </div>
    <div class="col-auto form-group">
      <label for="fromTime">{{ "FROM" | translate }}</label>
      <input
        [(ngModel)]="fromTime"
        name="fromTime"
        class="form-control"
        id="fromTime"
        type="datetime-local"
        placeholder="yyyy-MM-dd hh:mm"
      />
    </div>
    <div class="col-auto form-group">
      <label for="toTime">{{ "TO" | translate }}</label>
      <input
        [(ngModel)]="toTime"
        name="toTime"
        class="form-control"
        id="toTime"
        type="datetime-local"
        placeholder="yyyy-MM-dd hh:mm"
      />
    </div>
    <div class="col-auto form-group align-self-end">
      <button type="submit" class="btn btn-sm btn-primary mr-2">Filter</button>
      <button class="btn btn-sm btn-danger" (click)="resetFilters()">
        Reset
      </button>
    </div>
  </form>

  <div class="row mb-4">
    <div class="col">
      <h3>
        {{
          ((answerState | async)?.urgent
            ? "URGENT_HEADER"
            : "NOT_URGENT_HEADER"
          ) | translate
        }}
      </h3>
      <p>
        {{
          ((answerState | async)?.urgent
            ? "URGENT_SUBHEADER"
            : "NOT_URGENT_SUBHEADER"
          ) | translate
        }}
      </p>
      <button
        (click)="downloadAnswers()"
        class="btn btn-light"
        [disabled]="isLoading"
      >
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{ "DOWNLOAD_ANSWERS" | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-answer-list
        [answerState]="answerState | async"
        (reload)="redoAnswerListAction()"
        (pageChanged)="pageChanged($event)"
      >
      </app-answer-list>
    </div>
    <div class="col-md-9">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
