@import '../../../variables';

$question-title-background: #FAFAFA;
$flagged-question-title-background: #FFF5F5;
$question-text-color: #474747;

.c-answer-header {
  &__title {
    color: $darker-gray;
  }
}

.c-answer-stats {
  background: #fff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 1.2rem 1.5rem;
  margin-top: 2rem;

  &__container {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  &__label {
    color: $dim-gray;
    font-weight: bold;

    & + span {
      color: $readable-dark-gray;
    }
  }
}

.c-answer-forms {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto;
  max-height: 80vh;

  &__tabs {
    display: flex;
    border-bottom: 1px solid $border-color-gray;
    padding-top: .5rem;
    column-gap: 1.5rem;
  }

  &__sections {
    margin-top: 1rem;
  }
}

.c-answer-form-tab {
  color: $dim-gray;
  padding-bottom: .7rem;
  font-size: 1.1rem;
  cursor: pointer;

  &.is-tab-selected {
    color: $primary-purple;
    border-bottom: 1px solid $primary-purple;
  }
}

.c-answer-section {
  &:not(:first-child) {
    margin-top: 1rem;
  }
  
  &__desc {
    color: $light-text-gray;
    width: 50%;

    @media all and (max-width: 980px) {
      & {
        width: 70%;
      }
    }

    @media all and (max-width: 650px) {
      width: 100%;
    }
  }

  &__questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.c-answer-question {
  border: 1px solid $border-color-gray;
  border-radius: 4px;
  color: $question-text-color;
  height: min-content;

  &__title {
    padding: 1rem;
    background-color: $question-title-background;

    .c-answer-question.is-flagged & {
      background-color: $flagged-question-title-background;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    padding: 1rem;
  }

  &__option {
    display: flex;
    column-gap: 2rem;

    &.is-option-text {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .c-answer-checkbox {
    line-height: .5rem;
  }
}

.c-answer-note {
  &__button {
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: .5rem;

    &.has-question-flagged {
      color: $delete-color;
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    
    .c-answer-note__button.is-note-visible + & {
      max-height: 10rem;
      opacity: 1;
      visibility: visible;
      padding: .8rem;
    }
  }
}

.c-answer-text {
  padding-top: .2rem;
}