<div class="container-fluid c-answer-detail__container">
  <app-base-button 
      [custom-styles]="{ fontSize: '1.2rem' }"
      [variant]="BaseButtonVariants.ALLTRANSPARENT" 
      [routerLink]="['../../']"
    >
      <div class="d-flex align-items-center">
        <svg class="c-profile__back-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 12H5" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8 16L4 12L8 8" stroke="#6B6B6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        &nbsp;
        <span>{{ 'BACK' | translate }}</span>
      </div>
  </app-base-button>

  <div class="c-answer-header d-flex justify-content-between align-items-center mt-4">
    <h4 class="c-answer-header__title">
      {{ (crtPollingStation$ | async)?.observerName }} Responses
    </h4>
    
    <app-base-button class="c-answer-header__button" routerLink="notification">
      <span class="content">Send notification</span>
    </app-base-button>
  </div>

  <div class="c-answer-stats" *ngIf="(crtPollingStation$ | async) as crtPollingStation">
    <div class="c-answer-stats__container">
      <div 
        *ngFor="let stat of statsLabels"
        class="c-answer-stats__item"
      >
        <span class="c-answer-stats__label">{{ stat.name }}</span>: &nbsp; <span>{{ crtPollingStation[stat.propertyName] || '/' }}</span>
      </div>
    </div>
  </div>

  <div class="c-answer-forms">
    <div class="c-answer-forms__tabs">
      <div
        *ngFor="let formTab of formTabs$ | async"
        (click)="formTabChanged.next(formTab)"
        [class.is-tab-selected]="crtSelectedTabId === formTab.id"
        class="c-answer-form-tab"
      >
        {{ formTab.description }}
      </div>
    </div>

    <div class="c-answer-forms__sections" *ngIf="(sectionsState$ | async) as sectionsState">
      <div
        *ngFor="let section of (sections$ | async) as sections"
        class="c-answer-section"
      >
        <div class="c-answer-section__desc">
          {{ section.description }}
        </div>

        <div class="c-answer-section__questions">
          <div
            *ngFor="let q of section.questions"
            class="c-answer-question"
            [class.is-flagged]="sectionsState.flaggedQuestions[q.id]"
          >
            <div class="c-answer-question__title"><b>{{ q.code }}</b>: &nbsp; {{ q.text }}</div>

            <div class="c-answer-question__options">
              <div
                *ngFor="let o of q.optionsToQuestions"
                class="c-answer-question__option"
              >
                <ng-container 
                  *ngTemplateOutlet="
                    o.isFreeText ? textOption : checkboxOption; 
                    context: { question: q, option: o, checked: sectionsState.selectedAnswers[q.id] && sectionsState.selectedAnswers[q.id].answers[o.id] }
                  "
                ></ng-container>

                <div class="c-answer-text">{{ o.text }}</div>
              </div>
            </div>

            <div 
              *ngIf="sectionsState.formNotes[q.id]"
              class="c-answer-note"
            >
              <!-- TODO: translation -->
              <app-base-button 
                (click)="shownNotes[q.id] = !shownNotes[q.id]"
                [disabled]="false"
                [variant]="BaseButtonVariants.PURPLE" 
                [custom-styles]="{ fontSize: '1rem', padding: '0.3rem 0.5rem', border: 'none' }"
                class="c-answer-note__button"
                [class.is-note-visible]="shownNotes[q.id]"
                [has-color-inherited]="!!sectionsState.flaggedQuestions[q.id]"
                [class.has-question-flagged]="!!sectionsState.flaggedQuestions[q.id]"
              >
                View Note
              </app-base-button>

              <div class="c-answer-note__content">
                {{ sectionsState.formNotes[q.id].text }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #checkboxOption let-q="question" let-o="option" let-checked="checked">
  <app-base-checkbox
    (checkboxChanged)="null"
    [forceCheck]="checked"
    [name]="o.id"
    [is-transparent]="true"
    class="c-answer-checkbox"
  ></app-base-checkbox>
</ng-template>

<ng-template #textOption let-q="question" let-o="option">
  text
</ng-template>