@import '../../../variables.scss';

.navbar.navbar-default {
  background: $color-primary;

  &.navbar-custom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }

  .navbar-brand {
    padding: 2px 40px 2px 25px;
  }

  .brand-logo {
    height: 100%;
  }

  .navbar-nav {
    li > a {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      min-width: 80px;
      text-align: center;
    }

    li > a.active {
      //background: #5e288d;
      background: $color-secondary;
      color: $color-white;
    }

    li:hover > a {
      background: $color-secondary;
      color: $color-white;
    }
  }
}

