<div class="container-fluid">
  <div class="d-flex mb-4">
    <div>
      <h2 class="d-inline h4">
        <span (click)="onBackPressed()">&#8592;</span
        >{{ "FORM_EDIT" | translate }}
      </h2>
    </div>
    <div class="ml-auto">
      <div class="btn-group" role="group" aria-label="Sort">
        <button class="btn-secondary btn" (click)="saveForm()">
          {{ "FORM_SAVE_DRAFT" | translate }}
        </button>
        <button class="btn-primary btn" (click)="saveAndPublishForm()">
          {{ "FORM_PUBLISH" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form [formGroup]="formDetailsFormGroup">
        <div class="form-group">
          <label for="form-title">{{ "FORM_TITLE" | translate }}</label>
          <input
            class="form-control"
            id="form-title"
            formControlName="description"
            placeholder="{{ 'FORM_TITLE_PLACEHOLDER' | translate }}"
          />
        </div>
        <div class="form-group">
          <label for="form-cde">{{ "FORM_CODE" | translate }}</label>
          <input
            class="form-control"
            formControlName="code"
            id="form-code"
            placeholder="{{ 'FORM_CODE_PLACEHOLDER' | translate }}"
          />
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="form-diaspora"
            formControlName="diaspora"
          />
          <label for="form-diaspora" class="form-check-label">{{
            "FORM_ONLY_DIASPORA" | translate
          }}</label>
        </div>
      </form>
    </div>
  </div>

  <div
    class="section-list"
    cdkDropList
    (cdkDropListDropped)="onReorder($event)"
  >
    <div
      *ngFor="let section of sectionFormGroupsArray; let i = index"
      cdkDrag
      class="section"
    >
      <app-section
        [sectionFormGroup]="section"
        (sectionDeleteEventEmitter)="onSectionDelete(i)"
      >
      </app-section>
    </div>
  </div>

  <button class="btn btn-light" (click)="addFormSection()">
    + {{ "SECTION_ADD" | translate }}
  </button>
</div>
