<div *ngIf="anyStatistics" class="frow row-start">
    <div class="col-md-1-2" style="margin-top:20px" [class.hidden]="!(item && !item.error && !item.loading && item.values && item.values.length)" *ngFor="let item of statisticsState">
        <app-statistics-card *ngIf="item && !item.error && !item.loading && item.values && item.values.length" [item]="item">
        </app-statistics-card>
    </div>
</div>
<div class="frow row-center" *ngIf="!anyStatistics">
    <app-loading-indicator></app-loading-indicator>
</div>
