<div class="card">
  <div class="card-header">
    <div class="card-header-contents">
      <h3 *ngIf="item.header" style="margin: 0">
        {{ item.header }}
      </h3>
      <h4 *ngIf="item.subHeader" style="margin: 0">
        {{ item.subHeader }}
      </h4>
    </div>
  </div>
  <div *ngIf="!item.error">
    <div *ngIf="item.loading">
      {{ "LOADING" | translate }}
    </div>
    <div *ngIf="!item.loading">
      <div
        *ngFor="let labelValue of itemValues; let i = index"
        class="card-row"
      >
        <app-statistics-value
          class="col-md-1-1"
          [index]="i + 1"
          [label]="labelValue.label"
          [value]="labelValue.value"
        >
        </app-statistics-value>
      </div>

      <div class="row card-footer">
        <div class="col-xs-12 text-right">
          <a class="" [routerLink]="['/statistics', item.key]">
            {{ "SEE_COMPLETE_LIST" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
