body {
  background: $bg-global;
}

/**
  Buttons
 */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary, .btn-secondary, .btn-success {
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 12px;
}

.btn-secondary {
  color: $color-secondary;
}

.btn-success {
  &:disabled {
    background: #C4C4C4;

    &:hover {
      background: #C4C4C4;
    }
  }
}

/**
  Forms
 */
.form-control {
  border-radius: 0;
}


/**
Loading spinner
 */
.loading-container {
  background-color: white;
  height: 100vh;

  .spinner {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}


.page-title {
  font-size: 14px;
  color: #7C8284;
  overflow: auto;

  a {
    color: $color-secondary;
  }

  span {
    font-size: 24px;
    color: #000;
  }

  .dot {
    font-size: 30px;
    display: inline-block;
  }

  .actions {
    float: right;
  }
}
