span.font-weight-bold.h-is-muted {
  font-size: 1.1rem;
}

app-base-button:not(:last-child) {
  margin-right: 1rem;
}

app-base-button svg:first-child {
  margin-right: .5rem;
}

app-base-button .content ~ svg {
  margin-left: .5rem;
}