<div class="container-fluid">
  
  <div class="d-flex justify-content-between mt-2 mb-4 pl-0 pr-2">
    <div class="d-flex align-items-center">
      <h3 class="mb-0">Observers</h3>
      <i class="h-vertical-line"></i>
      <span class="font-weight-bold h-is-muted">{{ totalCount }} total</span>
    </div>

    <div class="btn-group" role="group" aria-label="Sort">
      <app-base-button>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.1666 5.83301L5.83331 14.1663" stroke="#707070" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M14.1666 14.1663H5.83331V5.83301" stroke="#707070" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <span class="content">Import</span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 7.5L10 12.5L15 7.5" stroke="#AFAFAF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </app-base-button>
      
      <app-base-button>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.83337 14.1663L14.1667 5.83301" stroke="#707070" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M5.83337 5.83301H14.1667V14.1663" stroke="#707070" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <span class="content">Export</span>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 7.5L10 12.5L15 7.5" stroke="#AFAFAF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </app-base-button>
      
      <app-base-button [variant]="BaseButtonVariants.BGYELLOW" [routerLink]="['profil/new']">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4.16699V15.8337" stroke="#464646" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M4.16663 10H15.8333" stroke="#464646" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="content">Add Observer</span>
      </app-base-button>
    </div>
  </div>

  <app-table-container [columns]="tableColumns" [rows]="observersList.slice(0, 7)">
    <div header-area>
      <div class="card-body">
        <form novalidate [formGroup]="observersFilterForm" class="row">
          <div class="form-group col-auto">
            <label for="form-name">Name</label>
            <input type="text" name="name" id="form-name" class="form-control" formControlName="name" />
          </div>
          <div class="form-group col-auto">
            <label for="form-county">Phone</label>
            <input type="text" name="phone" id="form-county" class="form-control" formControlName="phone" />
          </div>
          <div class="col-auto form-group align-self-end">
            <div class="btn-group" role="group" aria-label="Filter">
              <button class="btn btn-primary" [disabled]="observersFilterForm.isEmpty()" (click)="applyFilters()">
                filter
              </button>
              <button class="btn btn-secondary" [disabled]="observersFilterForm.isEmpty()" (click)="resetFilters()">
                reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <ng-template let-r="row" let-c="column">
      <span>{{ r[c.propertyName] || 'not specified' }}</span>
    </ng-template>
  </app-table-container>  
<!-- 
  <div class="row row-cols-6 mt-4" *ngIf="listType === listTypes.CARD">
    <div class="col" *ngFor="let item of observersList">
      <app-observers-card
        [observer]="item"
        [enableEdit]="true"
        (onSelect)="onObserverSelect($event)"
        (onDelete)="onObserverDelete($event)"
        (onResetPassword)="onObserverResetPassword($event)"
      ></app-observers-card>
    </div>
  </div> -->

  <!-- <table class="table table-hover" *ngIf="listType === listTypes.LIST">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Last login</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let observer of observersList"
        app-oberver-row
        [observer]="observer"
        [enableEdit]="true"
        (onSelect)="onObserverSelect($event)"
        (onDelete)="onObserverDelete($event)"
        (onResetPassword)="onObserverResetPassword($event)"
      ></tr>
    </tbody>
  </table>

  <ng-template #editObserverModalTemplate>
    <div class="modal-header" data-backdrop="static">
      <h4 class="modal-title pull-left">
        {{ "ENTER_NEW_PASSWORD" | translate }} {{ observerToEdit.name }}
      </h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input
        type="text"
        name="password"
        placeholder="pin"
        [(ngModel)]="newPassword"
        #pin="ngModel"
        maxlength="6"
        minlength="4"
      />
      <p>&nbsp;</p>
      <button
        type="button"
        class="btn btn-primary"
        (click)="resetPassword()"
        [disabled]="!isPasswordValid()"
      >
        {{ "RESET_PASSWORD" | translate }}
      </button>
    </div>
  </ng-template>
</div> -->

<!-- <app-pagination
  [page]="observersState.page"
  [pageSize]="observersState.pageSize"
  [totalItems]="observersState.totalItems"
  [nextEnabled]="!observersState.loading"
  (pageChanged)="pageChanged($event)"
>
</app-pagination> -->

<app-loading-indicator *ngIf="observersState.loading"></app-loading-indicator>
<div *ngIf="observersState.error">
  <app-error-indicator></app-error-indicator>
</div>
