@import "../../../../variables";
.card {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(194, 194, 194, 0.75);
  box-shadow: 0px 2px 0px 0px rgba(194, 194, 194, 0.75);
}
.panel {
  .panel-body {
    padding: 0;
  }
  width: 100%;
  a {
    display: block;
    padding: 15px;
    &.active {
      background: $primary;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
