<div *ngIf="!state.threadsError">
  <div *ngIf="!state.threadsLoading">
    <div *ngFor="let answer of answerList()" class="card mb-2">
      <div class="card-body">
        <a
          [routerLink]="[
            answerLinkPrefix(),
            answer.idObserver,
            answer.idPollingStation
          ]"
          routerLinkActive="active"
        >
          <h5>{{ "STATION" | translate }}: {{ answer.pollingStationName }}</h5>
          <h6>{{ answer.observerName }}</h6>
        </a>
      </div>
    </div>

    <app-pagination
      [page]="state.page"
      [pageSize]="state.pageSize"
      [totalItems]="state.totalItems"
      [nextEnabled]="!state.threadsLoading"
      (pageChanged)="pageChangedEvent($event)"
    ></app-pagination>
  </div>
  <div *ngIf="state.threadsLoading" class="col-md-offset-5 col-md-1">
    <app-loading-indicator></app-loading-indicator>
  </div>
</div>
<div *ngIf="state.threadsError">
  <app-error-indicator (retry)="retry()"></app-error-indicator>
</div>
