.section-create {

  .section-details {
    display: flex;
    flex-direction: column;
  }

  .add-question-button {
    color: rebeccapurple;
    cursor: pointer;
    font-weight: bold;
  }

  .form-labeled-field {
    margin-bottom: 10px;
  }

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .header-text {
      margin: auto 0;
      font-size: larger;
      font-weight: bold;
    }

    .btn-delete {
      border: 1px solid;
      color: red;
    }
  }

  .question-list {
    display: flex;
    flex-direction: column;

    .question-line {
      display: flex;
      flex-direction: row;

      .question {
        flex-grow: 1;
      }
    }
  }

  .icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    cursor: pointer;

    margin: auto 4px;
  }

  .icon-reorder {
    cursor: move;
  }
}
