
<div class="section-create">

  <div class="header-row">
    <span class="header-text">{{ section.description }}</span>

    <div class="buttons-pane">
      <button class="btn btn-secondary btn-delete" (click)="sectionDeleteEventEmitter.emit()">{{'SECTION_DELETE' | translate}}</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-6">
        <div class="form-labeled-field">
          <div>
            <span>{{'SECTION_TITLE' | translate}}</span>
          </div>
          <div>
            <input class="form-control" [(ngModel)]="section.description" placeholder="{{'SECTION_TITLE_PLACEHOLDER' | translate}}">
          </div>
        </div>
        <div class="form-labeled-field">
          <div>
            <span>{{'SECTION_CODE' | translate}}</span>
          </div>
          <div>
            <input class="form-control" [(ngModel)]="section.code" placeholder="{{'SECTION_CODE_PLACEHOLDER' | translate}}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
<!--      According to the design, this field should be here, but for now it has no correspondence in the model.-->

<!--        <div>-->
<!--          <span>{{'SECTION_DESCRIPTION' | translate}}</span>-->
<!--        </div>-->
<!--        <div>-->
<!--          <textarea rows="4" class="form-control" [(ngModel)]="section.description" placeholder="{{'SECTION_DESCRIPTION_PLACEHOLDER' | translate}}"></textarea>-->
<!--        </div>-->
      </div>

      <app-question *ngFor="let question of section.questions"
                    [currentQuestion]="question"
                    (questionDeleteEventEmitter)="onQuestionDelete(question)"></app-question>

      <div class="col-md-12 add-question-button" (click)="addQuestion()">+ {{'QUESTION_ADD' | translate}}</div>
    </div>
  </div>
</div>
