<div class="container-fluid">
  <div class="d-flex mb-4">
    <div>
      <h2 class="d-inline h4" *ngIf="pageState === 'new'">Add observer</h2>
      <h2 class="d-inline h4" *ngIf="pageState === 'edit'">Edit observer</h2>
    </div>
    <div class="ml-auto">
      <button class="btn btn-primary" [routerLink]="['/observatori']">
        Back
      </button>
    </div>
  </div>

  <div class="card" *ngIf="pageState !== 'new'">
    <div class="card-body">
      <h4 class="card-title">{{ observer?.name }}</h4>
      <p>
        Last login:
        {{ observer?.lastSeen ? (observer.lastSeen | date: "short") : "never" }}
        <br />
        Device registration date:
        {{
          observer?.deviceRegisterDate
            ? (observer.deviceRegisterDate | date: "short")
            : "never"
        }}
      </p>

      <form novalidate [formGroup]="observerProfileForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            id="name"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="phone">Phone number *</label>
          <input
            formControlName="phone"
            type="tel"
            id="phone"
            class="form-control"
          />
        </div>
        <div class="form-group" *ngIf="pageState === 'new'">
          <label for="password">Password *</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-control"
          />
        </div>
        <div *ngIf="pageState !== 'view'" class="d-flex">
          <div>
            <button
              *ngIf="pageState === 'edit'"
              type="button"
              class="btn btn-link text-danger"
              (click)="deleteObserver()"
            >
              Delete Account
            </button>
          </div>
          <div class="ml-auto">
            <button
              type="button"
              class="btn btn-secondary"
              [routerLink]="['/observatori']"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary ml-2"
              [disabled]="observerProfileForm.invalid"
              (click)="saveObserver()"
            >
              <span *ngIf="pageState === 'new'">Add observer</span>
              <span *ngIf="pageState === 'edit'">Save changes</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card" *ngIf="pageState === 'new'">
    <div class="card-body">
      <h4 class="card-title">Import observers</h4>
      <form
        novalidate
        [formGroup]="observerProfileUploadForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="idNgo">ID Ngo</label>
          <input
            formControlName="ongId"
            id="idNgo"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="fileSelection">Select file</label>
          <input
            type="file"
            class="form-control"
            id="fileSelection"
            (change)="onFileChange($event)"
          />
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
      </form>
    </div>
  </div>
</div>
