<div *ngIf="!state.request.loading">
    <div *ngFor="let answer of state.items">
        <div class="header">
            Sectie: {{answer.sectie}}
            <br/> Observator: {{answer.observator}}
            <a uiSref=".detalii" [uiParams]="{idObservator: answer.idObservator, idSectie: answer.idSectie}">
            Vezi detalii
        </a>
        </div>
    </div>
</div>
<div *ngIf="state.request.loading">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<pagination *ngIf="!state.request.loading" [totalItems]="state.pagination.maxItems" [itemsPerPage]="state.pagination.itemsPerPage"
    [ngModel]="state.pagination.currentPage" (pageChanged)="pageChanged.emit($event)"></pagination>