@import '../../../variables';

$filter-zone-height: 2.8rem;
$label-color: $darker-gray;

.c-answers__container {
  margin-bottom: 2rem;
}

span.font-weight-bold.h-is-muted {
  font-size: 1.1rem;
}

.c-answers__header-title {
  color: $darker-gray;
}

.c-no-msg {
  &__title {
    color: $darker-gray;
  }

  &__content {
    color: $readable-dark-gray;
  }
}

.c-answers__buttons {
  .c-answers__button svg:first-child {
    margin-right: .5rem;
  }
}

.form-group {
  & > .form-control {
    border: 1px solid $base-gray;
    color: $input-text-color;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: 1.1rem;
    height: $filter-zone-height;

    &::placeholder {
      color: $input-text-color;
    }
  }

  & > select.form-control {
    min-width: 13rem;
  }

  & > label {
    color: $label-color;
    font-size: 1.2rem;
    line-height: 30px;
  }
}