<div *ngFor="let section of sections" class="c-answer-section">
  <div class="c-answer-section__desc">
    {{ section.description }}
  </div>

  <div class="c-answer-section__questions" *ngIf="sectionsState">
    <div
      #question
      [attr.data-question-id]="q.id"
      *ngFor="let q of section.questions" 
      class="c-answer-question"
      [class.is-flagged]="sectionsState.flaggedQuestions[q.id]"
    >
      <div class="c-answer-question__title"><b>{{ q.code }}</b>: &nbsp; {{ q.text }}</div>

      <div class="c-answer-question__options">
        <div *ngFor="let o of q.optionsToQuestions" class="c-answer-question__option"
          [class.is-option-text]="o.isFreeText">
          <ng-container 
            *ngTemplateOutlet="
              o.isFreeText ? textOption : checkboxOption; 
              context: { question: q, option: o, checked: sectionsState.selectedAnswers[q.id] && sectionsState.selectedAnswers[q.id].answers[o.id] }
            "></ng-container>

          <div class="c-answer-text">{{ o.text }}</div>
        </div>
      </div>

      <div *ngIf="sectionsState.formNotes[q.id]" class="c-answer-note">
        <app-base-button 
          (click)="showNoteClicked.emit({ 
            text: sectionsState.formNotes[q.id].text, 
            questionCode: q.code,
            attachmentsPaths: sectionsState.formNotes[q.id].attachmentsPaths
          })" 
          [disabled]="false"
          [variant]="BaseButtonVariants.PURPLE"
          [custom-styles]="{ fontSize: '1rem', padding: '0.3rem 0.5rem', border: 'none' }" 
          class="c-answer-note__button"
          [has-color-inherited]="!!sectionsState.flaggedQuestions[q.id]"
          [class.has-question-flagged]="!!sectionsState.flaggedQuestions[q.id]"
        >
          {{ 'VIEW_NOTE' | translate }}
        </app-base-button>
      </div>
    </div>
  </div>
</div>

<ng-template #checkboxOption let-q="question" let-o="option" let-checked="checked">
  <app-base-checkbox
    (checkboxChanged)="null"
    [is-disabled]="true"
    [forceCheck]="checked"
    [name]="o.id"
    [is-transparent]="true"
    class="c-answer-checkbox"
  ></app-base-checkbox>
</ng-template>

<ng-template #textOption let-q="question" let-o="option" let-answer="checked">
  <textarea 
    readonly
    [name]="q.id" 
    [id]="q.id" 
    class="form-control"
  >{{ answer?.text }}</textarea>
</ng-template>