/**
  Buttons
 */
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger {
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 12px;
}

.btn-success {
  &:disabled {
    background: #c4c4c4;

    &:hover {
      background: #c4c4c4;
    }
  }
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited {
  color: #ffffff;
  background-color: #c4c4c4;
  background-image: none;
  letter-spacing: 1px;
}

/**
  Forms
 */
.form-control {
  border-radius: 0;
}

/**
Loading spinner
 */
.loading-container {
  background-color: white;
  height: 100vh;

  .spinner {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.page-title {
  font-size: 14px;
  color: #7c8284;
  overflow: auto;

  span {
    font-size: 24px;
    color: #000;
  }

  .dot {
    font-size: 30px;
    display: inline-block;
  }

  .actions {
    float: right;
  }
}
