<div class="container-fluid forms-component">

  <div class="header-row">
    <span class="header-text col-md-2">{{'FORMS' | translate }}</span>
    <div class="buttons-pane">
      <button class="btn-primary btn" [routerLink]="['/formulare/nou']">+ {{'NEW_FORM' | translate}}</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col" style="color: #3468EF;">{{'INDEX' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'FORM_CODE' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'FORM_TITLE' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'DIASPORA' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'ACTION' | translate}}</th>
      </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="onReorder($event)">
        <tr *ngFor="let form of formsList" cdkDrag>
          <td style="width: 5%;">
            {{ (page - 1) * pageSize + formsList.indexOf(form) + 1 }}
          </td>
          <td>
            {{ form.code }}
          </td>
          <td class="col-md-6">
            {{ form.description }}
          </td>
          <td>
            <img src="/assets/forms/diaspora-check.png" *ngIf="form.diaspora">
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary" type="button" [routerLink]="[form.id]">{{'EDIT' | translate}}</button>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/forms/down.png">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="deleteForm(form)">{{'DELETE' | translate}}</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

