<div class="container-fluid forms-component">
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col" style="color: #3468EF;">{{'INDEX' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'FORM_CODE' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'FORM_TITLE' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'DIASPORA' | translate}}</th>
        <th scope="col" style="color: #3468EF;">{{'ACTION' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let form of formsList">
        <td style="width: 5%;">
          {{ (page - 1) * pageSize + formsList.indexOf(form) + 1 }}
        </td>
        <td>
          {{ form.code }}
        </td>
        <td class="col-md-6">
          {{ form.description }}
        </td>
        <td>
          <img src="/assets/forms/diaspora-check.png" *ngIf="form.diaspora">
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary" type="button">{{'EDIT' | translate}}</button>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/assets/forms/down.png">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="deleteForm(form)">{{'DELETE' | translate}}</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer py-4">
    <nav aria-label="...">
      <div class="align-items-center justify-content-xl-between">
        <div class="col-md-6">
          <div>
            <p>Arata </p>&nbsp;&nbsp;
            <input type="number" class="form-control" style="width: 60px; padding-top: 5px; padding-bottom: 5px; height: 30px;" value="{{ pageSize }}" name="pageSize" [(ngModel)]="pageSize" (change)="pageChanged($event)">
            &nbsp;&nbsp; <p>intrari </p>
          </div>
        </div>
        <div class="col-md-6">
          <app-pagination [page]="page" [pageSize]="pageSize"
                          [totalItems]="totalCount" (pageChanged)="pageChanged($event)">
          </app-pagination>
        </div>
      </div>
    </nav>
  </div>
</div>

