<div class="header pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid" style="margin-top: -7.5rem !important;"> <!-- mt--7 -->
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="padding-bottom: 0px;padding-top: 0px;">
          <div class="row">
            <!-- class="col-md-9" -->
            <div class="col" style="padding-top: 20px; padding-right: 0px; max-width: 80%; flex: 0 0 80%;">
              <h3 class="mb-0" style="color: #3468EF;">Formulare predefinite</h3>
              <p style="color: #23278A">Aceasta este lista cu formulare disponibile pentru a fi completate. Selecteaza orice formular si completeaza-l pentru unul dintre pacientii pentru care este alocat.</p>
            </div>
            <div class="col" align="right" style=" max-width: 20%; flex: 0 0 20%;">
              <button type="button" class="btn btn-primary my-4" style="background-color: #3468EF;" [routerLink]="['/formulare/nou']" (click)="addForm()">
                <img src="./assets/img/icons/common/add.png" style="padding-right: 5px;">Adauga formular nou
              </button>
            </div>
          </div>
        </div>
        <!-- Divider -->
        <hr class="my-0">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-md-auto">
              <p>Cauta: </p>
            </div>
            <div class="col-md-3" style="padding-left: 0px; ">
              <div class="form-group" style="margin-bottom: 0px; ">
                <input type="text" class="form-control" (keydown.enter)="search($event.target.value)">
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" style="color: #3468EF;">Nr.</th>
              <th scope="col" style="color: #3468EF;">Denumire formular</th>
              <th scope="col" style="color: #3468EF;">Creat de</th>
              <th scope="col" style="color: #3468EF;">Data</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let form of formsList">
              <td style="width: 5%;">
                {{ (page - 1) * pageSize + formsList.indexOf(form) + 1 }}
              </td>
              <td>
                {{ form.description }}
              </td>
              <td style="width: 15%;">
                {{ form.ver }}
              </td>
              <td style="width: 10%;">
                {{ form.ver }}
              </td>
              <td class="text-right" style="width: 5%;">
                <a class="btn btn-sm btn-icon-only text-light" [routerLink]="['/form', form.id]" (click)="formSelected(form)">
                  <img src="./assets/img/icons/common/view.png">
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <div class="row align-items-center justify-content-xl-between">
              <div class="col-md-6">
                <div class="row">
                  <p>Arata </p>&nbsp;&nbsp;
                  <input type="number" class="form-control" style="width: 60px; padding-top: 5px; padding-bottom: 5px; height: 30px;" value="{{ pageSize }}" name="pageSize" [(ngModel)]="pageSize" (change)="pageChanged($event)">
                  &nbsp;&nbsp; <p>intrari </p>
                </div>
              </div>
              <div class="col-md-6">
                <app-pagination [page]="page" [pageSize]="pageSize"
                                [totalItems]="totalCount" (pageChanged)="pageChanged($event)">
                </app-pagination>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
