@import "../../../variables";

button {
  border-color: $primary-purple;
  color: $primary-purple;
}

textarea {
  height: 200px;
}

.margin-top {
  margin-top: 10px;
}

.observer-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;

  .observer-data {
    position: relative;
    padding: 0 10px;
  }
}
