<div class="container-fluid">
  <h5>{{'OBSERVERS_FILTER' | translate}}</h5>
  <div class="form-group card card-body mt-3">
    <div class="d-flex flex-row">
      <div>
        <label for="countiesMultiSelect">{{'COUNTY_FILTER' | translate}}</label>
        <ng-multiselect-dropdown id="countiesMultiSelect" (onSelect)="changeCountyFilter()"
                                 (onDeSelect)="changeCountyFilter()"
                                 [(ngModel)]="selectedCounties" [data]="counties"
                                 placeholder="{{'COUNTY_FILTER' | translate}}" [settings]="countyDropdownSettings">
        </ng-multiselect-dropdown>
      </div>

      <div *ngIf="selectedCounties.length" class="ml-3">
        <label>
          <span>{{'POLLING_STATIONS_FILTER' | translate}}</span>
          <span *ngIf="maxPollingStationNumber"> [1 &ndash; {{maxPollingStationNumber}}]</span>
        </label>
        <div class="d-flex justify-content-between">
          <input class="form-control mr-2" type="number" [ngModel]="pollingStationFrom"
                 (ngModelChange)="resetFilteredObservers(); pollingStationFrom = $event"
                 placeholder="{{'FROM' | translate}}">
          <div class="mt-1 text-muted">&ndash;</div>
          <input class="form-control ml-2" type="number" [ngModel]="pollingStationTo"
                 (ngModelChange)="resetFilteredObservers(); pollingStationTo = $event"
                 placeholder="{{'TO' | translate}}">
        </div>
      </div>

      <div class="ml-3">
        <label>&nbsp;</label>
        <div class="w-100">
          <button (click)="searchForObservers()" class="btn btn-outline-primary"
                  [disabled]="!selectedCounties?.length">{{'SEARCH' | translate}}</button>
          <button (click)="resetFilter()" class="btn btn-link ml-2">{{'RESET' | translate}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="usingObserverFilters" class="d-flex flex-row text-muted mt-3">
      <span *ngIf="filteredObserverIds">{{filteredObserverIds.length}} {{'OBSERVERS_IN_SELECTION' | translate}}</span>
      <span *ngIf="!filteredObserverIds">{{'OBSERVER_FILTER_PENDING' | translate}}</span>
    </div>
  </div>

  <h5>{{usingObserverFilters ? ('NOTIFICATION_DETAILS' | translate)
    : observerCount + ' ' + ('TOTAL_OBSERVERS' | translate) }}</h5>
  <form [formGroup]="notificationForm" class="form-group card card-body mt-3">
    <div class="row">
      <div class="col-md-6">
        <label for="notificationTitle">{{'NOTIFICATION_TITLE' | translate}}</label>
        <input class="form-control" id="notificationTitle" name="notificationTitle" formControlName="notificationTitle"
               required [ngClass]="{'is-invalid': notificationFormSubmitted && notificationTitle.errors}"
               placeholder="{{'NOTIFICATION_TITLE' | translate}}">
        <div *ngIf="notificationFormSubmitted && notificationTitle.errors?.required" class="invalid-feedback">
          {{('VALIDATION_REQUIRED' | translate).replace('%s', ('NOTIFICATION_TITLE' | translate))}}
        </div>

        <label class="mt-2" for="notificationMessage">{{'MESSAGE' | translate}}</label>
        <textarea class="form-control" id="notificationMessage" name="notificationMessage"
                  formControlName="notificationMessage"
                  required [ngClass]="{'is-invalid': notificationFormSubmitted && notificationMessage.errors}"
                  placeholder="{{'MESSAGE' | translate}}" rows="5"></textarea>
        <div *ngIf="notificationFormSubmitted && notificationMessage.errors?.required" class="invalid-feedback">
          {{('VALIDATION_REQUIRED' | translate).replace('%s', ('MESSAGE' | translate))}}
        </div>

        <div class="mt-2">
          <button (click)="submitNotification()" type="submit" class="btn btn-warning"
                  [disabled]="usingObserverFilters && !filteredObserverIds?.length">
            {{usingObserverFilters
            ? ('SEND_NOTIFICATIONS_TO_N_OBSERVERS' | translate)
              .replace('%d', filteredObserverIds ? filteredObserverIds.length : '?')
            : ('SEND_NOTIFICATIONS_TO_ALL' | translate)}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
