<div *ngIf="!answerState.threadsError">
    <div *ngIf="!answerState.threadsLoading">
        <div *ngFor="let answer of answerState.threads">
            <div class="header">
                Sectie: {{answer.sectie}}
                <br/> Observator: {{answer.observator}}
                <a uiSref=".detalii" [uiParams]="{idObservator: answer.idObservator, idSectie: answer.idSectie}">
            Vezi detalii
        </a>
            </div>
        </div>
        <pagination [totalItems]="answerState.totalItems" [itemsPerPage]="answerState.pageSize" [ngModel]="answerState.page" (pageChanged)="pageChanged.emit($event)"></pagination>
    </div>
    <div *ngIf="answerState.threadsLoading">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
</div>
<div *ngIf="answerState.threadsError" (click)="retry()">
    <p>This failed</p>
    Try again
</div>