<div class="frow">
    <div class="col-md-1-2">
        <h3>{{state.header}}</h3>
        <h5>{{state.subHeader}}</h5>
    </div>
    <div class="col-md-1-2">
        <br/>
        <app-pagination *ngIf="!state.error && !state.loading" class="col-md-1-2" [page]="state.page" [pageSize]="state.pageSize"
            [totalItems]="state.totalItems" [nextEnabled]="!state.loading" (pageChanged)="pageChanged($event)">
        </app-pagination>
    </div>
</div>
<div>
    <div *ngIf="state.error">
        <app-error-indicator (retry)="retry">
        </app-error-indicator>

    </div>
    <div *ngIf="!state.error">
        <div *ngIf="!state.loading">
            <div class="frow">
                <div class="col-md-1-2">
                    <div *ngFor="let labelValue of values(true);let i=index" class="frow row-start" style="margin-top:10px">
                        <div class="col-md-1-1 frow">
                            <div class="col-md-1-2 frow row-start">
                                <p style="margin-right:10px">
                                    <strong>{{indexTransform(i)}}</strong>
                                </p>
                                <p>
                                    <strong>
                                    {{labelValue.label}}
                                </strong>
                                </p>
                            </div>
                            <p class="col-md-1-2">
                                {{labelValue.value}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1-2">
                    <div *ngFor="let labelValue of values(false);let i=index" class="frow row-start" style="margin-top:10px">
                        <div class="col-md-1-1 frow">
                            <div class="col-md-1-2 frow row-start">
                                <p style="margin-right:10px">
                                    <strong>{{indexTransform(i, true)}}</strong>
                                </p>
                                <p>
                                    <strong>
                                    {{labelValue.label}}
                                </strong>
                                </p>
                            </div>
                            <p class="col-md-1-2">
                                {{labelValue.value}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="state.loading" class="center-block">
            <app-loading-indicator></app-loading-indicator>
        </div>
    </div>
</div>