<div class="container-fluid">

  <div>
    <h4>{{'FILTER_BY' | translate}}</h4>

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="countyCode" class="control-label">{{'COUNTY_CODE' | translate}}</label>
          <input [(ngModel)]="countyCode" name="countyCode" class="form-control" id="countyCode">
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <label for="pollingStationNumber" class="control-label">{{'POLLING_STATION_NUMBER' | translate}}</label>
          <input [(ngModel)]="pollingStationNumber" name="pollingStationNumber" class="form-control"
            id="pollingStationNumber">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="observerId" class="control-label">{{'OBSERVER_ID' | translate}}</label>
            <input [(ngModel)]="observerId" name="observerId" class="form-control" id="observerId">
        </div>
        <button type="submit" class="btn btn-default mb-2">Filtreaza</button>
      </form>
  </div>

  <div class="list-header col-md-12">
    <h3>{{((answerState | async)?.urgent ? 'URGENT_HEADER' : 'NOT_URGENT_HEADER') | translate}}</h3>
    <h5>{{((answerState | async)?.urgent ? 'URGENT_SUBHEADER' : 'NOT_URGENT_SUBHEADER') | translate}}</h5>
  </div>
  <div class="col-md-3">
    <app-answer-list [answerState]="answerState | async" (reload)="redoAnswerListAction()"
      (pageChanged)="pageChanged($event)">
    </app-answer-list>
  </div>
  <div class="col-md-8">
    <router-outlet>
    </router-outlet>
  </div>
</div>
