<div class="container-fluid">

  <div class="list-header col-md-12">
      <h3>{{((answerState | async)?.urgent ? 'URGENT_HEADER' : 'NOT_URGENT_HEADER') | translate}}</h3>
      <h5>{{((answerState | async)?.urgent ? 'URGENT_SUBHEADER' : 'NOT_URGENT_SUBHEADER') | translate}}</h5>
  </div>
  <div class="col-md-3">
    <app-answer-list [answerState]="answerState | async" (reload)="redoAnswerListAction()" (pageChanged)="pageChanged($event)">
    </app-answer-list>
  </div>
  <div class="col-md-8">
    <router-outlet>
    </router-outlet>
  </div>
</div>
