<div class="container-fluid">
  <div class="page-title">
    <span *ngIf="pageState === 'new'">Add observer</span>
    <span *ngIf="pageState === 'edit'">Edit observer</span>

    <div class="actions">
      <button class="btn btn-success back-button" [routerLink]="['/observatori']">Back</button>
    </div>
  </div>
  <div class="profile-panel">
    <div *ngIf="pageState !== 'new'" class="profile-header">
      <h4 class="observer-name">{{ observer?.name }} </h4>
      <p class="last-login">Last login: {{ observer?.lastSeen ? observer.lastSeen : 'never' }}</p>
      <p class="last-login">Device registration date: {{ observer?.deviceRegisterDate ? observer.deviceRegisterDate : 'never' }}</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form novalidate [formGroup]="observerProfileForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                >
              </div><!--
              <div class="form-group">
                <label>Email Address *</label>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                >
              </div>-->
              <!-- <div class="form-group">
                <label>County *</label>
                <select
                  formControlName="country"
                  class="form-control"
                  >
                  <option value="bla">blabla</option>
                </select>
              </div> -->
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Phone number *</label>
                <input
                  formControlName="phone"
                  type="tel"
                  class="form-control"
                >
              </div>
              <div class="form-group" *ngIf="pageState === 'new'">
                <label>Password *</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                >
              </div>
            </div>
          </div>
          <div
            *ngIf="pageState !== 'view'"
            class="bottom-buttons-wrapper"
            [class.move-right]="pageState === 'new'"
          >
            <button *ngIf="pageState === 'edit'" type="button" class="btn btn-danger" (click)="deleteObserver()">Delete Account</button>
            <div class="right-buttons-wrapper">
              <button type="button" class="btn btn-secondary" [routerLink]="['/observatori']">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="observerProfileForm.invalid"
                      (click)="saveObserver()">
                <span *ngIf="pageState === 'new'">Add observer</span>
                <span *ngIf="pageState === 'edit'">Save changes</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
