<div *ngIf="answerExtra" class="mb-4">
  <span *ngIf="answerExtra.observerArrivalTime">
    {{ "ARRIVAL_TIME" | translate }}:
    {{ answerExtra.observerArrivalTime | date: "shortTime" }}
  </span>
  <span *ngIf="answerExtra.observerLeaveTime">
    {{ "DEPARTURE_TIME" | translate }}:
    {{ answerExtra.observerLeaveTime | date: "shortTime" }}
  </span>
  <br />

  <!-- TODO add missing fields -->

  <label class="form-check-label" for="chairmanPresenceCheck">
    {{ "CHAIRMAN_PRESENCE" | translate }}:
  </label>
  <input
    class="form-check-input ml-2"
    type="checkbox"
    id="chairmanPresenceCheck"
    [checked]="answerExtra.chairmanPresence"
  />

  <label class="form-check-label" for="singlePollingStationOrCommissionCheck">
    {{ "SINGLE_POLLING_STATION_OR_COMMISSION" | translate }}:
  </label>
  <input
    class="form-check-input ml-2"
    type="checkbox"
    id="singlePollingStationOrCommissionCheck"
    [checked]="answerExtra.singlePollingStationOrCommission"
  />

  <label class="form-check-label" for="adequatePollingStationSizeCheck">
    {{ "ADEQUATE_POLLING_STATION_SIZE" | translate }}:
  </label>
  <input
    class="form-check-input ml-2"
    type="checkbox"
    id="adequatePollingStationSizeCheck"
    [checked]="answerExtra.adequatePollingStationSize"
  />
</div>
