<div class="comp-container">
    <div *ngIf="answerExtra" class="col-md-3-3">
        <div class="">
            <div *ngIf="answerExtra.oraSosirii" class="col-md-1-2">
                {{'ARRIVAL_TIME' | translate}}: {{answerExtra.oraSosirii | date:'shortTime'}}
            </div>
            <div *ngIf="answerExtra.oraPlecarii" class="col-md-1-2">
                {{'DEPARTURE_TIME' | translate}}: {{answerExtra.oraPlecarii | date:'shortTime'}}
            </div>
        </div>
        <div class="frow">
            <div class="col-md-1-2">
                  {{'IS_URBAN_AREA' | translate}}:
                <i class="fa" [ngClass]="{'fa-square': !answerExtra.esteZonaUrbana, 'fa-check-square': answerExtra.esteZonaUrbana}" aria-hidden="true"></i>
            </div>
            <div class="col-md-1-2">
                {{'IS_PRESIDENT_WOMAN' | translate}}:
                <i class="fa" [ngClass]="{'fa-square': !answerExtra.presedinteBesvesteFemeie, 'fa-check-square': answerExtra.presedinteBesvesteFemeie}" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
