@import '~variables.scss';

.card-header {
  padding: 20px 20px;
  height: 40px;

  .card-header-contents {
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    button {
      background-color: #ffffff;
      border: 1px solid #000000;
      border-radius: 50%;
      color: white;
      padding: 2px;
      width: 32px;
      text-decoration: none;
      outline: none;
    }

    .selected {
      background-color: $color-secondary;
      border: none;
      padding: 3px;

      span {
        color: white;
      }
    }
  }
}

.card-content {
  padding: 10px 20px;
  margin: auto 0;
  color: $color-secondary;
  font-size: 14px;

  .card-row {
    display: flex;
    margin-top: 10px;

    div {
      margin-left: 10px;
      margin-top: -2px;
    }
  }
}

.card-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .card-footer-header {
    font-size: 12px;
    color: $color-gray;
  }

  .card-footer-details {
    font-size: 14px;
    color: #000000;
  }

  .btn-group {
    font-size: 12px;
  }

  .btn-default {
    font-weight: 300;
  }
}
.cursor-pointer{
  cursor: pointer;
}
