<div class="panel panel-default">
  <div class="card-header">
    <div class="card-header-contents">
      <span class="observe-name">
        Ian Test
      </span>
      <button class="selected">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </div>
  </div>
 <div class="card-content">
   <div class="card-row">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
     <div class="mail">
       mail@test.ro
     </div>
   </div>
   <div class="card-row">
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
     <div class="phone-number">
       07626
     </div>
   </div>
 </div>
 <div class="card-footer">
   <div class="card-footer-header">
     Last login
   </div>
   <div class="card-footer-details">
     04.10.2010
   </div>
 </div>
 <button class="btn btn-success" [routerLink]="['profil/edit/123']">Edit</button>
</div>
