<div class="container-fluid">
  <div class="d-flex mb-4">
    <div>
      <h2 class="d-inline h4">{{ "FORMS" | translate }}</h2>
    </div>
    <div class="ml-auto">
      <div class="btn-group" role="group" aria-label="Sort">
        <button class="btn-primary btn" [routerLink]="['/formulare/nou']">
          + {{ "NEW_FORM" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            {{ "INDEX" | translate }}
          </th>
          <th scope="col">
            {{ "FORM_CODE" | translate }}
          </th>
          <th scope="col">
            {{ "FORM_TITLE" | translate }}
          </th>
          <th scope="col">
            {{ "DIASPORA" | translate }}
          </th>
          <th scope="col">
            {{ "DRAFT" | translate }}
          </th>
          <th scope="col" class="text-right">
            {{ "ACTION" | translate }}
          </th>
        </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="onReorder($event)">
        <tr *ngFor="let form of formsList" cdkDrag>
          <td>
            {{ (page - 1) * pageSize + formsList.indexOf(form) + 1 }}
          </td>
          <td>
            {{ form.code }}
          </td>
          <td>
            {{ form.description }}
          </td>
          <td>
            <img
              src="/assets/forms/diaspora-check.png"
              *ngIf="form.diaspora"
              alt=""
            />
          </td>
          <td>
            <img
              src="/assets/forms/diaspora-check.png"
              *ngIf="form.draft"
              alt=""
            />
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-secondary"
                [routerLink]="[form.id]"
              >
                {{ "EDIT" | translate }}
              </button>
              <div
                class="btn-group"
                ngbDropdown
                role="group"
                aria-label="Button group with nested dropdown"
              >
                <button
                  class="btn btn-secondary dropdown-toggle-split"
                  ngbDropdownToggle
                ></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem (click)="deleteForm(form)">
                    {{ "DELETE" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
