@import "../../../variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(md) {

}

.nav > li {
  position: relative;
}

.nav .nav-item a .active {
  color: $primary;
}

.nav .nav-item a {
  color: $secondary;
}

.nav .nav-item .active::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  height: 2px;
  transition: all 250ms ease 0s;
}

.w-15 {
  width: 15%;
}

.no-wrap {
  white-space: nowrap;
}

.centered-cell {
  text-align: center;
  vertical-align: middle;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
