<div class="container-fluid">
  <div class="d-flex mb-4">
    <div>
      <h2 class="d-inline h4">{{ "FORMS" | translate }}</h2>
    </div>
    <div class="ml-auto">
      <div class="btn-group" role="group" aria-label="Sort">
        <button class="btn-primary btn" [routerLink]="['/formulare/nou']">
          + {{ "NEW_FORM" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="card border-light shadow">
    <ul class="nav pl-3">
      <li class="nav-item pt-3">
        <a class="nav-link cursor-pointer" [class.active]="!draftSelected"
           (click)="onTabSelect()">{{ "PUBLIC" | translate }}</a>
      </li>
      <li class="nav-item pt-3">
        <a class="nav-link cursor-pointer" [class.active]="draftSelected"
           (click)="onTabSelect()">{{ "DRAFT" | translate }}</a>
      </li>
    </ul>
    <div class="table-responsive" style="padding-left: 1%; padding-right: 1%">
      <table class="table align-items-center">
        <thead>
        <tr>
          <th>
            {{ "FORM_TITLE" | translate }}
          </th>

          <th class="w-15 centered-cell no-wrap">
            {{ "FORM_CODE" | translate }}
          </th>

          <!-- TO BE IMPLEMENTED
          <th class="w-15 centered-cell no-wrap">
            {{ "FORM_TOTAL_QUESTIONS" | translate }}
          </th>
          -->

          <th class="w-15 centered-cell no-wrap">
            {{ "DIASPORA" | translate }}
          </th>

          <!-- TO BE IMPLEMENTED
          <th class="w-15 centered-cell no-wrap">
            {{ "LAST_EDIT" | translate }}
          </th>
          -->

          <th class="w-15 centered-cell no-wrap">
            {{ "ACTIONS" | translate }}
          </th>
          <th class="centered-cell no-wrap" style="width: 5%"></th>
        </tr>
        </thead>

        <tbody cdkDropList (cdkDropListDropped)="onReorder($event)">
        <tr *ngFor="let form of formsList" cdkDrag cdkDragLockAxis="y">
          <td>
            {{ form.description }}
          </td>

          <td class="w-15 centered-cell no-wrap">
            {{ form.code }}
          </td>

          <!-- TO BE IMPLEMENTED
          <td class="w-15 centered-cell no-wrap">
            number
          </td>
          -->

          <td class="w-15 centered-cell no-wrap">
            <img src="/assets/forms/diaspora-check.png" *ngIf="form.diaspora" alt=""/>
          </td>

          <!-- TO BE IMPLEMENTED
          <td class="w-15 centered-cell no-wrap">
            date
          </td>
          -->

          <td class="w-15 centered-cell no-wrap">
            <div class="btn-group">
              <button type="button" class="btn bg-light" [routerLink]="[form.id]">
                {{ "EDIT" | translate }}
              </button>
              <div class="btn-group" ngbDropdown role="group" container="body">
                <button class="btn bg-light dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <button ngbDropdownItem (click)="deleteForm(form)" class="text-danger">
                    <img src="/assets/forms/icon-delete.png" alt="">
                    <span>{{ "DELETE" | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
          </td>

          <td style="width: 5%" class="centered-cell no-wrap" cdkDragHandle>
            <img src="/assets/forms/icon-reorder.png" alt="">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
