<div class="container">
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="messageTextarea">Message</label>
      <textarea [(ngModel)]="message" class="form-control" id="messageTextarea" placeholder="Message"></textarea>
    </div>

    <div class="col-md-6 form-group">
      <div>
        <label for="countiesMultiSelect">Counties</label>
        <ng-multiselect-dropdown id="countiesMultiSelect"
          (onSelect)="onCountySelect($event)"
          (onSelectAll)="onSelectAllCounties($event)"
          [(ngModel)]="selectedCounties"
          [data]="dropdownCouties"
          [placeholder]="'Counties'"
          [settings]="dropdownSettings"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="margin-top">
        <label for="observersMultiSelect">Observers</label>
        <ng-multiselect-dropdown id="observersMultiSelect"
          (onSelect)="onObserverSelect($event)"
          (onSelectAll)="onSelectAllObservers($event)"
          [(ngModel)]="selectedObservers"
          [data]="dropdownObservers"
          [placeholder]="'Observers'"
          [settings]="dropdownSettings"
        >
        </ng-multiselect-dropdown>
      </div>

      <div class="margin-top">
        <label for="pollingStationMultiSelect">Polling stations</label>
        <ng-multiselect-dropdown id="pollingStationMultiSelect"
          (onSelect)="onPollingStationSelect($event)"
          (onSelectAll)="onSelectAllPollingStations($event)"
          [(ngModel)]="selectedPollingStations"
          [data]="dropdownPollingStations"
          [placeholder]="'Polling stations'"
          [settings]="dropdownSettings"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <button (click)="submitNotification()" class="btn btn-default">Submit</button>
</div>
