<!--<button (click)="addCounty()" class="btn btn-primary">Add county</button>-->
<!--<form formGroupName="notificationForm">-->
  <!--<div formArrayName="counties" *ngFor="let county of notificationForm.get('counties').control; let i = index;">-->
    <!--<input formControlName="i" placeholder="County name">-->
  <!--</div>-->
<!--</form>-->

<form [formGroup]="notificationForm">
  <h2>Message</h2>
  <textarea>Add Message</textarea>
    <h2>Counties</h2>
    <button (click)="addCounty()">Add</button>

    <div formArrayName="counties" *ngFor="let county of notificationForm.controls.counties?.value; let i = index">
        <input placeholder="County" [formControlName]="i">

    </div>
</form>
