<!-- <div class="row">
    <div class="col-xs-8">
        <span style="margin-right:10px">
            <strong>{{index | number:'2.0-0'}}</strong>
        </span>
        <span>
            <strong>
            {{label}}
          </strong>
        </span>
    </div>
    <div class="col-xs-4 text-center">
        {{value}}
    </div>
</div>
 -->


 <div class="d-flex flex-row justify-content-between p-2">
     <div class="d-flex flex-row">
        <div class="mr-4 ml-1">{{index}}</div>
        <div>{{label}}</div>
     </div>
     <div class="mr-4">{{value}}</div>
 </div>