$bg-global: #F2F2F2;

$color-primary: #fbd844;
$color-secondary: #5e288d;
$color-danger: #fd0001;
$color-light-gray: #ddd2e7;
$color-gray: #7b8184;
$color-white: white;
$color-success: #2ec122;
$color-info: #44dcfd;

$form-focus-size: 1;
