.hidden {
  display: none
}

.page-title {
  padding: 0 20px;
  font-size: 14px;
  color: #7C8284;

  a {
    color: #5F288D;
  }

  span {
    font-size: 24px;
    color: #000;
  }

  .dot {
    font-size: 30px;
    display: inline-block;
  }

  .actions {
    float: right;
  }
}
