<div class="container-fluid">
  <div class="page-title">
    <span>Observers</span> &middot; {{ totalCount }} total &middot; Sorted by <a>Last login - Ascending</a>
    <div class="actions">
      <button class="btn" [ngClass]="(listType === 'CARD')?'btn-success':'btn-secondary'"
        (click)="changeListType('CARD')"><i class="glyphicon glyphicon-th-large"></i></button>
      <button class="btn" [ngClass]="(listType === 'LIST')?'btn-success':'btn-secondary'"
        (click)="changeListType('LIST')"><i class="glyphicon glyphicon-th-list"></i></button>

      <button class="btn btn-success" [routerLink]="['profil/new']">
        <i class="glyphicon glyphicon-plus-sign"></i> add observer/s
      </button>
    </div>
  </div>

  <div class="panel panel-default filters-panel">
    <div class="panel-body">
      <form novalidate [formGroup]="observersFilterForm">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="form-name">Name</label>
              <input type='text' name="name" id="form-name" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="form-county">Phone</label>
              <input type='text' name="phone" id="form-county" class="form-control" formControlName="phone">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group action-buttons">
              <button class="btn btn-success" [disabled]="observersFilterForm.isEmpty()"
                (click)="applyFilters()">filter</button>
              <button class="btn btn-secondary" [disabled]="observersFilterForm.isEmpty()"
                (click)="resetFilters()">reset
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="observer-list" *ngIf="listType === listTypes.CARD">
    <div class="observer-data" *ngFor="let item of observersList">
      <app-observers-card [observer]="item" [enableEdit]="true" (onSelect)="onObserverSelect($event)"
        (onDelete)="onObserverDelete($event)" (onResetPassword)="onObserverResetPassword($event)"></app-observers-card>
    </div>
  </div>
  <div class="observer-grid" *ngIf="listType === listTypes.LIST">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Last login</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let observer of observersList" app-oberver-row [observer]="observer" [enableEdit]="true" (onSelect)="onObserverSelect($event)"
        (onDelete)="onObserverDelete($event)" (onResetPassword)="onObserverResetPassword($event)">
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #editObserverModalTemplate>
    <div class="modal-header" data-backdrop="static">
      <h4 class="modal-title pull-left">{{'ENTER_NEW_PASSWORD' | translate}} {{observerToEdit.name}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input type="text" name="password" placeholder="pin" [(ngModel)]="newPassword" #pin="ngModel" maxlength="6"
        minlength="4">
      <p>&nbsp;</p>
      <button type="button" class="btn btn-primary" (click)="resetPassword()"
        [disabled]="!isPasswordValid()">{{'RESET_PASSWORD'| translate}}</button>
    </div>
  </ng-template>
</div>

<app-pagination [page]="observersState.page" [pageSize]="observersState.pageSize"
  [totalItems]="observersState.totalItems" [nextEnabled]="!observersState.loading" (pageChanged)="pageChanged($event)">
</app-pagination>

<app-loading-indicator *ngIf="observersState.loading"></app-loading-indicator>
<div *ngIf="observersState.error">
  <app-error-indicator></app-error-indicator>
</div>
