<div class="row">
    <div class="col-md-6 col-lg-4" style="margin-top:20px" [class.hidden]="!canShowItem(item)" *ngFor="let item of observersState">
        ABC
    </div>
</div>
<div class="page-title">
  <span>Observers</span> &middot; 24 total &middot; Sorted by <a href="#">Last login - Ascending</a>
  <div class="actions">
    <button class="btn btn-secondary"><i class="glyphicon glyphicon-th-large"></i></button>
    <button class="btn btn-primary"><i class="glyphicon glyphicon-th-list"></i></button>

    <button class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> add observer</button>
  </div>
</div>
