<div class="comp-container">
  <div *ngIf="answerExtra"
    class="col-md-3-3">
    <div class="">
      <div *ngIf="answerExtra.observerArrivalTime"
        class="col-md-1-2">
        {{'ARRIVAL_TIME' | translate}}: {{answerExtra.observerArrivalTime | date:'shortTime'}}
      </div>
      <div *ngIf="answerExtra.observerLeaveTime"
        class="col-md-1-2">
        {{'DEPARTURE_TIME' | translate}}: {{answerExtra.observerLeaveTime | date:'shortTime'}}
      </div>
    </div>
    <div class="frow">
      <div class="col-md-1-2">
        {{'IS_URBAN_AREA' | translate}}:
        <i class="fa"
          [class.fa-square]="!answerExtra.urbanArea"
          [class.fa-check-square]="answerExtra.urbanArea"
          aria-hidden="true"></i>
      </div>
      <div class="col-md-1-2">
        {{'IS_PRESIDENT_WOMAN' | translate}}:
        <i class="fa"
          [class.fa-square]="!answerExtra.isPollingStationPresidentFemale"
          [class.fa-check-square]="answerExtra.isPollingStationPresidentFemale"
          aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
