@import "../../../variables";

$base-foreground-color: #707070;

$bg-yellow: #FFD628;
$bg-yellow-foreground: #464646;

$bg-gray: #F2F2F2;

button {
  color: $base-foreground-color;
  font-weight: bold;
  border: 1px solid $base-gray;
  background: transparent;
  padding: 0.7rem 1.2rem;
  border-radius: 0.55rem;
}

:host.is-bg-yellow button {
  background: $bg-yellow;
  color: $bg-yellow-foreground;
  border: none;
}

:host.is-bg-gray button {
  background: $bg-gray;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
}

:host.is-all-transparent button {
  border: none;
}