<app-base-button 
  [variant]="BaseButtonVariants.BGGRAY"
  [custom-styles]="{ 
    fontWeight: 'normal',
    lineHeight: 'initial',
    padding: '.4rem .7rem',
    fontSize: '1rem'
  }"
  (click)="dropdownEvent.emit(mainButton.eventType)"
>
  <ng-template 
    [ngTemplateOutlet]="btnContent" 
    [ngTemplateOutletContext]="{ $implicit: mainButton }"
  ></ng-template>
</app-base-button>


<div class="c-dropdown__container" placement="bottom-right" ngbDropdown role="group" aria-label="Button group with nested dropdown">
  <!-- [class.dropdown-toggle]="false" is needed in order to disable the arrow which ng-bootstrap uses by default -->
  <button 
    [class.dropdown-toggle]="false" 
    class="is-base-cell c-dropdown__arrow" 
    ngbDropdownToggle
  >
    <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1.5L6 6.5L11 1.5" stroke="#707070" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  
  <div class="dropdown-menu" ngbDropdownMenu>
    <button
      *ngFor="let item of dropdownItems"
      (click)="dropdownEvent.emit(item.eventType)"
      class="c-dropdown__item" 
      ngbDropdownItem
    >
      <ng-template
        [ngTemplateOutlet]="btnContent"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-template>
    </button>
  </div>
</div>