$bg-global: #f8f8f8 /* #f2f2f2 */;
$primary: #5e288d;
$secondary: #333;
$yellow: #fbd844;
$purple: #5f288f;
$danger: #fd0001;
$gray: #ddd2e7;
$gray-dark: #7b8184;
$gray-light: #eee;
$base-gray: #AFAFAF;
$light-gray: #F3F1F1;
$muted-gray: #B6B6B6;
$readable-dark-gray: #6B6B6B;
$darker-gray: #454545;
$dim-gray: #636363;
$border-color-gray: #EDEDED;
$light-text-gray: #7C8284;

$primary-purple: #5F288D;
$delete-color: #F16359;

$font-weight-medium: 500;
$primary-gray: #707070;

$danger: $delete-color;

$input-text-color: #A3A3A3;
$selected-row-color: #F9F9FA;

