$bg-global: #f8f8f8 /* #f2f2f2 */;

$primary: #5e288d;
$secondary: #333;
$yellow: #fbd844;
$danger: #fd0001;
$gray: #ddd2e7;
$gray-dark: #7b8184;

$base-gray: #AFAFAF;
$light-gray: #F3F1F1;
$muted-gray: #B6B6B6;
$readable-dark-gray: #6B6B6B;
$darker-gray: #454545;

$primary-purple: #5F288D;
$delete-color: #F16359;
