@import "variables";
@import "./styles/toastr.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.cursor-pointer {
  cursor: pointer;
}

.custom-tooltip {
  .tooltip-inner {
    background-color: white;
    color: black;
  }
  .arrow::before {
    border-bottom-color: white;
  }
}