@import '~variables.scss';
@import '~styles/shared.scss';
@import '~styles/toastr.scss';


.nav-tabs > li > a.active {
  color: $color-secondary !important;
  font-weight: bold;
}

.cursor-pointer{
  cursor: pointer;
}