<div *ngIf="question" class="form-group" [ngClass]="{'flagged-question':isFlagged}">
  <div class="frow row-start">
    <p class="col-md-1-1" class="question-title" font-size="24px"><strong>{{question.textIntrebare}} ?</strong></p>
  </div>
  <div class="question-answers">
    <div class="frow row-start" *ngFor="let answer of question.raspunsuri" style="margin-left:10px; margin-top:3px" [ngClass]="{'flagged-answer':isFlaggedAnswer(answer)}">
      <div class="question-answer">
        {{answer.textOptiune}}
      </div>
      <div style="margin-left:10px">
        <i class="fa" style="font-size:16px" [ngClass]="{'fa-square': !isChecked(answer), 'fa-check-square': isChecked(answer)}"
          aria-hidden="true"></i>
      </div>
      <div style="margin-left:10px">
        <input style="display:inline-block" type="text" readonly *ngIf="isTextAnswer(answer) && isChecked(answer)" [value]="answerTextValue(answer)"
        />
      </div>
    </div>
  </div>

  <div class="frow row-end">
    <button *ngIf="notes && notes.length" (click)="showNotes = !showNotes">
      {{showNotes ? 'Hide': 'Show'}} notes
    </button>
  </div>

  <hr *ngIf="notes && notes.length && showNotes" />
  <div [collapse]="!showNotes" class="frow" *ngIf="notes && notes.length">
    <div class="col-md-1-1" *ngFor="let note of notes; let isLast = last">
      <app-answer-note [question]="question" [note]="note">
      </app-answer-note>
      <hr *ngIf="!isLast" />
    </div>

  </div>
</div>