<div *ngIf="question" class="form-group">
  <div class="frow row-start">
    <p class="col-md-1-1" font-size="24px"><strong>{{question.textIntrebare}}</strong></p>
  </div>
  <div class="frow row-start" *ngFor="let answer of question.raspunsuri" style="margin-left:10px; margin-top:3px">
    <div>
      {{answer.textOptiune}}
    </div>
    <div style="margin-left:10px">
      <i class="fa" style="font-size:16px" [ngClass]="{'fa-square': !isChecked(answer), 'fa-check-square': isChecked(answer)}"
        aria-hidden="true"></i>
    </div>
    <div style="margin-left:10px">
      <input style="display:inline-block" type="text" readonly *ngIf="isTextAnswer(answer) && isChecked(answer)" [value]="answerTextValue(answer)"
      />
    </div>
  </div>
</div>