<div class="container-fluid">

    <div class="d-flex justify-content-between mt-2 mb-4 pl-0 pr-2 c-ngos__header">
        <div class="d-flex align-items-center">
            <h3 class="mb-0">{{ 'NGOS' | translate }}</h3>
            <i class="h-vertical-line"></i>
            <span class="font-weight-bold h-is-muted">{{ totalCount }} total</span>
        </div>

        <div class="c-ngos__buttons" role="group" aria-label="Sort">
            <app-base-button [variant]="BaseButtonVariants.BGYELLOW" [routerLink]="['/ong/new'] ">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4.16699V15.8337" stroke="#464646" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4.16663 10H15.8333" stroke="#464646" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <span class="content">{{ 'NGO_ADD' | translate }}</span>
            </app-base-button>
        </div>
    </div>

    <app-table-container [disableCheckbox]="true" (selectedZoneEvent)="onSelectedZoneEvent($event)" [columns]="tableColumns"
        [rows]="ngosList" [is-loading]="ngosState.loading">
        <div header-area>
            <div class="card-body">
            </div>
        </div>

        <ng-template let-r="row" let-c="column">
            <app-base-dropdown class="c-ngos__dropdown" *ngIf="c.propertyName === actionsColumnName"
                [configArr]="dropdownConfig" (dropdownEvent)="onDropdownEvent($event, r)">
                <ng-template let-btn>
                    <ng-container [ngSwitch]="btn.eventType">
                        <ng-container *ngSwitchCase="DropDownEvents.EDIT">
                            {{ 'EDIT' | translate }}
                        </ng-container>

                        <ng-container *ngSwitchCase="DropDownEvents.CHANGE_ACTIVE_FLAG">
                            {{  (r.isActive ? 'MAKE_INACTIVE': 'MAKE_ACTIVE' )  | translate }}
                        </ng-container>

                        <div class="d-flex align-items-center c-dropdown-button--notification"
                            *ngSwitchCase="DropDownEvents.CHANGE_ORGANISER_FLAG">
                            <span>{{ (r.organizer? 'REMOVE_ORGANIZER_FLAG': 'MAKE_ORGANIZER') | translate }}</span>
                        </div>

                        <div class="d-flex align-items-center c-dropdown-button--delete"
                            *ngSwitchCase="DropDownEvents.DELETE">
                            <span>{{ 'DELETE' | translate }}</span>
                        </div>
                    </ng-container>
                </ng-template>
            </app-base-dropdown>

            <span *ngIf="c.propertyName !== actionsColumnName">
                <app-base-checkbox *ngIf="isBooleanValue(r[c.propertyName])" [name]="c.propertyName"
                    [ngModel]="r[c.propertyName]" [readonly]="true" class="c-table__row-check"></app-base-checkbox>

                <span
                    *ngIf="!isBooleanValue(r[c.propertyName])">{{ getValueOrDefault(r[c.propertyName], ('UNSPECIFIED' | translate)) }}</span>
            </span>
        </ng-template>
    </app-table-container>

    <div *ngIf="ngosState.error">
        <app-error-indicator></app-error-indicator>
    </div>
</div>